<script lang="ts">
    import { doAlert } from "$lib/alerts";
    import AlertStack from "$lib/components/AlertStack.svelte";
    import Interaction from "$lib/components/Interaction.svelte";
import { contract, web3 } from "$lib/contract";
    import { account } from "$lib/wallet";
    import { onMount } from "svelte";

	let metamask = undefined;

	onMount(() => {
		metamask = window["ethereum"];
		metamask.on('accountsChanged', login)
	})
	const ll = () => {
		metamask.request({ method: 'eth_requestAccounts' })
		.then(login)
		.catch((err: unknown) => {
			if (err.code === 4001) {
				console.error('Please connect to MetaMask.');
			} else {
				console.error(err);
			}
		});
	}

	const login = (accounts: string[]) => {
		if(accounts.length > 0) {
			$account = accounts[0];
		}
	}

	const createProperty = async (data) => {
		try {
			const res = await $contract.methods.createProperty().send({from: $account})
			const id = await $contract.methods.propertyHead().call();
			console.log(res);
			doAlert("Created property. Property id:" + (parseInt(id) -1));
		}catch(error) {
			doAlert(error.message, true);
		}
	}

	const createLease =async (data) => {
		try{	
			console.log(data);
			if(data.extensionSecond <= data.extensionFirst) {
				throw new Error("Second extension must be > first extension");
			}
			const res = await $contract.methods.createLease(
				parseInt(data.id),
				$web3.utils.toWei(data.installmentPrice, 'ether'),
				parseInt(data.installments),
				parseInt(data.paymentInterval),
				parseInt(data.extensionFirst),
				parseInt(data.extensionSecond),
				$web3.utils.toWei(data.interestFirst, 'ether'),
				$web3.utils.toWei(data.interestSecond, 'ether'),
			).send({from: $account})
			doAlert("Created lease");
		}catch(error) {
			doAlert(error.message, true);
		}
	}

	const deactivate =async (data) => {
		try {
			const res = await $contract.methods.deactivateProperty(parseInt(data.id)).send({from: $account});
			doAlert("Deactivated");
		}catch(error) {
			doAlert(error.message, true);
		}
	}

	const withdraw =async (data) => {
		try {
			const res = await $contract.methods.withdraw(parseInt(data.id)).send({from: $account});
			doAlert("Withdrawn");
		}catch(error) {
			doAlert(error.message, true);
		}
	}

	const startLease =async (data) => {
		try {
			const res = await $contract.methods.startLease(parseInt(data.id)).send({from: $account});
			doAlert("Started lease");
		}catch(error) {
			doAlert(error.message, true);
		}
	}

	const getLeasePayment =async (data) => {
		try {
			const res = await $contract.methods.calculateNextPayment(parseInt(data.id)).call({from: $account});
			const amount = $web3.utils.fromWei(res, "ether");
			console.log(amount);
			if(parseFloat(amount) === 0) {
				doAlert("You missed the payments. Lease has expired", true);
			}else{
				doAlert("You need to pay: " + amount);
			}
		}catch(error) {
			doAlert(error.message, true);
		}
	}

	const getLeaseRemaining =async (data) => {
		try {
			const res = await $contract.methods.properties(parseInt(data.id)).call({from: $account});
			const amount = res.lease.installmentsRemaining; 
			doAlert("You have " + amount + " installments remaining");
		}catch(error) {
			doAlert(error.message, true);
		}
	}

	const payLease =async (data) => {
		try {
			const res = await $contract.methods.payLease(parseInt(data.id)).send({from: $account, value: $web3.utils.toWei(data.payAmount, "ether")});
			doAlert("Payed");
		}catch(error) {
			doAlert(error.message, true);
		}
	}
	let timer = undefined;
	let timeLeft = "";
	
	const getTimer =async (data) => {
		try{
			const res = await $contract.methods.properties(parseInt(data.id)).call({from: $account});
			const lastPayment = parseInt(res.lease.timestampLastPayment);
			const paymentInterval = parseInt(res.lease.paymentInterval);
			const extensionFirst = parseInt(res.lease.extensionFirst);
			const extensionSecond = parseInt(res.lease.extensionSecond);

			clearInterval(timer);
			timer = setInterval(() => {
				const date = Math.ceil(Date.now() / 1000);
				const delta = date-lastPayment;
				const untilNext = paymentInterval - delta;
				const untilFirstExtension = (paymentInterval  + extensionFirst) - delta;
				const untilsecondExtension = (paymentInterval + extensionSecond) - delta;

				if(res.lease.isActive && res.lease.isStarted) {
					timeLeft = `
						Time until next payment: ${untilNext >= 0 ? untilNext + "s" : "expired"}<br>
						Time until first extension: ${untilFirstExtension >= 0 ? untilFirstExtension + "s" : "expired"}<br>
						Time until cancel: ${untilsecondExtension >= 0 ? untilsecondExtension + "s" : "expired. Lease is canceled"}<br>
					`
				}else{
					timeLeft = `Inactive lease`
				}
			}, 1000)
			// timer = 
		}catch(error) {
			doAlert(error.message, true);
		}
	}


</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Real estate" />
</svelte:head>

<section>
	{#if $account === undefined}
		<button on:click={() => ll()}>Connect wallet</button>
	{:else}
		Logged in with {$account};

		<div class="actions">
			<div class="column seller">
				<h4>Seller</h4>
				<Interaction action={createProperty} inputs={[]} title="Create property"/>
				<Interaction action={createLease} inputs={["id", "installmentPrice", "installments", "paymentInterval", "extensionFirst", "extensionSecond", "interestFirst", "interestSecond"]} title="Create lease"/>
				<Interaction action={deactivate} inputs={["id"]} title="Deactivate property"/>
				<Interaction action={withdraw} inputs={["id"]} title="Withdraw"/>
			</div>
			<div class="column tennant">
				<h4>Tennant</h4>
				<Interaction action={startLease} inputs={["id"]} title="Start lease"/>
				<Interaction action={getLeasePayment} inputs={["id"]} title="Get lease payment"/>
				<Interaction action={getLeaseRemaining} inputs={["id"]} title="Get remaining payments"/>
				<Interaction action={payLease} inputs={["id", "payAmount"]} title="Pay lease"/>
				<Interaction action={getTimer} inputs={["id"]} title="Get remaining time">
				<div class="timer">{@html timeLeft}</div>
				</Interaction>

			</div>
		</div>
	{/if}
	<AlertStack/>
</section>

<style lang="less">
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.6;
	}

	h1 {
		width: 100%;
	}

	.actions {
		width: 100%;
		display: flex;
		row-gap: 10px;
		min-height: 80vh;
		align-items: stretch;
	}

	.column {
		padding: 5px;
		min-height: 222px;
		width: 50%;
		background: rgb(180,152,58);
background: linear-gradient(0deg, rgba(180,152,58,0.3113620448179272) 0%, rgba(156,35,118,0.41220238095238093) 50%, rgba(213,233,70,0.36738445378151263) 100%);
		&.seller {
		}

		&.tennant {
		}
	}
</style>
