<script lang="ts">
    import { alertStack, dismiss } from "$lib/alerts";
	import { fade, fly } from 'svelte/transition';
</script>

<div class="stack">
    {#each $alertStack as alert}
    <div class="alert" class:error={alert.error} in:fly={{ y: 200, duration: 2000 }} out:fade>
        {alert.message}
        <div class="close" on:click={() => {
            dismiss(alert.uuid);
        }}>×</div>
    </div>
    {/each}
</div>

<style>
    .stack {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .alert {
        margin: 5px;
        padding: 15px;
        border-radius: 3px;
        word-wrap: break-word;
        max-width: 80vw;
        border-left: 2px solid rgb(255, 167, 167);
        background-color: rgb(203, 249, 183);
        font-size: large;
        position: relative;
    }

    .error {
        background-color: rgb(221, 131, 79);
    }
    .close {
        position: absolute;
        top: -8px;
        left: -4px;
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
    }
</style>