<script lang="ts">
    export let action: (data: Record<string, string>) => void;
    export let inputs: string[];
    export let title: string;
    let res = {};
</script>

<div class="interaction">
    <div class="name">{title}</div> 
    {#each inputs as input}
        <div style="padding-bottom: 10px;">
        <span>
        <input on:input={(r) => {
            res[input] = r.target.value;
        }}/><i style="padding-left: 5px;">{input}</i>
        </span>
        </div>
    {/each}
    <button on:click={() => {
        action(res)
    }}>Transact</button>
    <slot></slot>
</div>

<style lang="less">
    .interaction {
        padding: 5px;
        margin: 15px;
        background: rgb(180,58,58);
        border-radius: 5px;
        background: linear-gradient(0deg, rgba(180,58,58,0.3113620448179272) 0%, rgba(253,29,29,0.41220238095238093) 50%, rgba(252,176,69,0.36738445378151263) 100%);
    }
</style>